<!DOCTYPE html>

<html>
	<head>
		<title>Delete author</title>
	</head>
	
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/libri">Catalogo</a>
				<a href="/autori">Autori</a>
				<a href="/login">Login</a>
			</nav>
		</header>
		
		<main>
			<h1>Delete authors!</h1>
			<div th:if="${autori.isEmpty()}">No authors here, mate</div>
			<section>
				<form th:action="@{/admin/deleteAutore/delete}" method="post">
					<button>Elimina selezionati</button>
					<ul>
						<li th:each="item : ${autori}">
							<span th:text="${item.nome + ' ' + item.cognome}">Stephen King</span>
							<input type="checkbox" name="autoriDaEliminare" th:value="${item.id}">
						</li>
					</ul>
				</form>
			</section>
		</main>		
	</body>
</html>