<!DOCTYPE html>
	
<html>
	<head>
		<title>Home</title>
	</head>
	
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/libri">Catalogo</a>
				<a href="/autori">Autori</a>
				<a href="/login">Login</a>
			</nav>
		</header>
		
		<main>
			<h1>Admin Functions</h1>
			<a href="/newBook">Nuovo libro</a>
			<a href="/newAuthor">Nuovo autore</a>
			<a href="/admin/deleteLibri">Elimina libri</a>
			<a href="/admin/deleteAutore">Elimina autori</a>
			<a href="/admin/deleteRecensione">Elimina recensioni</a>
		</main>
	</body>
</html>