<!DOCTYPE html>

<html>
	<head>
		<title>Nuova recensione</title>
	</head>
	
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/libri">Catalogo</a>
				<a href="/autori">Autori</a>
				<a href="/login">Login</a>
			</nav>
		</header>
		
		<section th:if="${libro}">
			<div>Titolo: <span th:text="${libro.titolo}">Titolo</span></div>
			<div>Anno: <span th:text="${libro.year}">Anno</span></div>
			<div th:if="${libro.autori}"> Autori:
				<ul>
					<li th:each="item : ${libro.autori}">
						<div>Nome autore: <a th:href="@{'/autori/' + ${item.id}}"><span th:text="${item.nome + ' ' + item.cognome}">Nome</span></a></div>
					</li>
				</ul>
			</div>
		</section>
		
		<section>
			<form th:action="@{'/libri/' + ${libro.id} + '/recensione'}" method="post" th:object="${recensione}">
				<label>Voto:
					<input required type="number" step="0.5" name="voto" th:field="${recensione.voto}">
				</label>
				<label>Descrizione:
					<input required type="text" name="descrizione" th:field="${recensione.testo}">
				</label>
				<button>Crea</button>
			</form>
		</section>
				
	</body>
</html>