<!DOCTYPE html>

<html>
	<head>
		<title>Book</title>
	</head>
	
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/libri">Catalogo</a>
				<a href="/autori">Autori</a>
			</nav>
		</header>
		
		<h1>Here's yo book, mate!</h1>
		<section th:if="${libro}">
			<div>Titolo: <span th:text="${libro.titolo}">Titolo</span></div>
			<div>Anno: <span th:text="${libro.year}">Anno</span></div>
			<div th:if="${libro.autori}"> Autori:
				<ul>
					<li th:each="item : ${libro.autori}">
						<div>Nome autore: <a th:href="@{'/autori/' + ${item.id}}"><span th:text="${item.nome + ' ' + item.cognome}">Nome</span></a></div>
					</li>
				</ul>
			</div>
		</section>
	</body>
</html>